 ### New York Data Scientist Job

In [11]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
from matplotlib.pyplot import figure

In [12]:
LA=pd.read_csv('fulltimeLA.csv')

In [13]:
NY=pd.read_csv('fulltimeNY.csv')

In [14]:
SF=pd.read_csv('fulltimeSF.csv')

In [15]:
NY_df=pd.DataFrame(NY)
NY_df.head()
NY_df_new=NY_df[['position','company','numreview']]
NY_df_new['numreview'].fillna('0',inplace=True)
new=NY_df_new['numreview'].str.split(" ",n=1,expand=True)
NY_df_new['numreview']=new[0]
NY_df_new['numreview'] = NY_df_new['numreview'].str.replace(',', '')
NY_df_new['numreview']=pd.to_numeric(NY_df_new['numreview'], errors='coerce')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
NY_df_new.describe()

          numreview
count    986.000000
mean    1777.646045
std     5089.657178
min        0.000000
25%        2.000000
50%       58.000000
75%      705.000000
max    30064.000000

In [17]:
i=-1
NY_df_new['type']=""
for item in NY_df_new['numreview']:
    i=i+1
    if item <=2:
        NY_df_new['type'][i]='A'
    
    elif item <=58:
        NY_df_new['type'][i]='B'
   
    elif item <=705:
        NY_df_new['type'][i]='C'
    
    else:
        NY_df_new['type'][i]='D'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [18]:
NY_group=NY_df_new.groupby(['type']).count()

In [19]:
NY_group

      position  company  numreview
type
A          257      257        257
B          236      236        236
C          277      277        277
D          216      216        216

Los Angeles Data Scientist Job

In [20]:
LA = "fulltimeLA.csv"

LA_df = pd.read_csv(LA)
LA_df["numreview"]=LA_df["numreview"].str.split(n=1,expand=True)[0]

In [21]:
LA_df["numreview"].fillna(0, inplace=True)

In [22]:
LA_df_new=LA_df[['position',"company","numreview"]]
LA_df_new.head()

,position,company,numreview
0,Institutional Review Board Analyst I - Office ...,USC,545
1,Analyst - Optimization,The Boston Consulting Group,198
2,Postdoctoral Research Associate,USC,545
3,Research Analyst,"SHIELDS for Families, Inc.",48
4,Additive Materials and Process Scientist,Divergent 3D,0

In [23]:
LA_df_new["numreview"]=LA_df_new["numreview"].str.replace(",","")
LA_df_new["numreview"]=pd.to_numeric(LA_df_new["numreview"])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
LA_df_new["numreview"].describe()

count      168.000000
mean       564.422619
std       1245.701892
min          2.000000
25%         21.000000
50%        198.000000
75%        661.000000
max      12906.000000
Name: numreview, dtype: float64

In [25]:
LA_df_new['numreview'] = LA_df_new['numreview'].fillna(0)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
i=-1
LA_df_new['type']=""
for item in LA_df_new['numreview']:
    i=i+1
    if item <=2:
        LA_df_new['type'][i]='A'
    
    elif item <=58:
        LA_df_new['type'][i]='B'
   
    elif item <=705:
        LA_df_new['type'][i]='C'
    
    else:
        LA_df_new['type'][i]='D'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

San Francisco Data Scientist Job

In [27]:
SF=pd.read_csv('fulltimeSF.csv')

In [28]:
SF_df=pd.DataFrame(SF)
SF_df_new=SF_df[['position','company','numreview']]

In [29]:
SF_df_new['numreview']=SF_df_new['numreview'].str.split(n=1,expand=True)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
SF_df_new['numreview'].fillna('0',inplace=True)

In [31]:
SF_df_new['numreview']=pd.to_numeric(SF_df_new['numreview'], errors='coerce')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
SF_df_new.describe()

        numreview
count  850.000000
mean    93.656471
std    183.160146
min      0.000000
25%      0.000000
50%      6.000000
75%     57.500000
max    999.000000

In [33]:
i=-1
SF_df_new['type']=""
for item in SF_df_new['numreview']:
    i=i+1
    if item <=0:
        SF_df_new['type'][i]='A'
    
    elif item <=6:
        SF_df_new['type'][i]='B'
   
    elif item <=57.5:
        SF_df_new['type'][i]='C'
    
    else:
        SF_df_new['type'][i]='D'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [34]:
LA_df_new["location"]="Los Angeles"

In [35]:
SF_df_new["location"]="San Francisco"

In [36]:
NY_df_new["location"]="New York"

In [37]:
new_01=LA_df_new.append(SF_df_new)

In [69]:
joblist=new_01.append(NY_df_new)

,position,company,numreview,type,location
0,Institutional Review Board Analyst I - Office ...,USC,545.0,C,Los Angeles
1,Analyst - Optimization,The Boston Consulting Group,198.0,C,Los Angeles
2,Postdoctoral Research Associate,USC,545.0,C,Los Angeles
3,Research Analyst,"SHIELDS for Families, Inc.",48.0,B,Los Angeles
4,Additive Materials and Process Scientist,Divergent 3D,0.0,A,Los Angeles
...,...,...,...,...,...
981,Data Scientist,Scienaptic Systems Inc,0.0,A,New York
982,Junior Data Scientist,Viacom,459.0,C,New York
983,Data Scientist (Entry-Level),First Derivatives plc,10.0,B,New York
984,Data Scientist,Cityblock Health,0.0,A,New York
985,Junior Data Scientist Apprenticeship,IBM,22249.0,D,New York

Exporting to SQL

In [48]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [92]:
rds_connection_string = "postgres:Alexunited94@localhost:5435/ETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [94]:
joblist.to_sql(name="datajobs", con=engine, if_exists="append", index=False)

In [85]:
joblist.head()

,position,company,numreview,type,location
0,Institutional Review Board Analyst I - Office ...,USC,545.0,C,Los Angeles
1,Analyst - Optimization,The Boston Consulting Group,198.0,C,Los Angeles
2,Postdoctoral Research Associate,USC,545.0,C,Los Angeles
3,Research Analyst,"SHIELDS for Families, Inc.",48.0,B,Los Angeles
4,Additive Materials and Process Scientist,Divergent 3D,0.0,A,Los Angeles